.algs {
  display: block;
  text-align: center;
}

.alg {
  display: inline-block;
  width: 32%;
}

.alg > img {
  display: block;
  width: 100%;
}


@media screen and (max-width: 720px) {
  .alg {
    width: 48%;
  }
}

@media screen and (max-width: 568px) {
  .alg {
    width: 100%;
  }
}
