@import 'https://fonts.googleapis.com/css?family=Open+Sans:700|Roboto:500';
.algs {
    display: block;
    text-align: center;
}

.alg {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    min-height: 8rem;
    font-size: 1.5rem;
    margin-bottom: 4px;
    padding: 4px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
}

.alg>div {
    display: block;
    min-height: 3.4rem;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

.alg>img {
    display: block;
    width: 100%;
    transition: 0.66s all;
}

.alg>img.disabled {
    opacity: 0.5;
}

@media screen and (max-width: 720px) {
    .alg {
        width: 48%;
    }
}

@media screen and (max-width: 568px) {
    .alg {
        width: 100%;
    }
}
