@import 'https://fonts.googleapis.com/css?family=Roboto:500';
 
.algs {
  display: block;
  text-align: center;
}

.alg {
  display: inline-block;
  width: 32%;
  font-weight: 500;
  font-family: 'Roboto';
}

.alg > img {
  display: block;
  width: 100%;
  transition: 0.66s all;
}

.alg > img.disabled {
  opacity: 0.5;
}


@media screen and (max-width: 720px) {
  .alg {
    width: 48%;
  }
}

@media screen and (max-width: 568px) {
  .alg {
    width: 100%;
  }
}
